In [ ]:
Q1.How can we store a single quote (‘) as a string in a var1able?

In [ ]:
#Ans:

In [ ]:
my_variable = "'"

In [50]:
my_variable   #OUTPUT: "'"

"'"

In [ ]:
Q2.Refer the below variable: 
x = ‘a' 
Here, is x a character type or string type variable? Support your answer with an explanation.

In [ ]:
#Ans:

In [ ]:
x = 'a'

In [51]:
type(x)  #output: str

str

In [ ]:
The variable x is a character type variable.
a character type represents a single character. It is often denoted using single quotes (' '). In the case of the variable x = 'a', the single character 'a' is enclosed within single quotes, indicating that it represents a character.

On the other hand, a string type variable represents a sequence of characters. It is typically denoted using double quotes (" ") or single quotes (' '). For example, a string variable would be defined as x = "hello" or x = 'hello'.

Since the variable x in the given example represents a single character ('a'), it is considered a character type variable.

In [ ]:
Q3.Apply the following functions on this variable: ‘Welcome to Python foundation course'
i. find ()
ii.count()
iii. len()
iv. Concatenation
Note: You can use your choice of parametersQ But make sure it is correct.

In [ ]:
#Ans:

In [ ]:
s = 'Welcom to Python foundation course'

In [52]:
#find

s = 'Welcome to Python foundation course'
a = s.find('Python')
print(a) #output: 11

11

In [54]:
#Count

s1 = 'Welcome to Python foundation course'
c = s1.count('o')
print(c)  #output: 6

6

In [56]:
#len()

s = 'Welcome to Python foundation course'
l = len(s)
print(l) #output: 35

35

In [57]:
#concatenation

s1 = 'Welcome to'
s2 = ' Python foundation course'
concatenated = s1 + s2
print(concatenated) #output: Welcome to Python foundation course

Welcome to Python foundation course

In [ ]:
Q4:For the var1able: word = 'PanaJi@12256'
Calculate the following:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [ ]:
#Ans:
word = 'PanaJi@12256'

In [59]:
#(a).
word = 'PanaJi@12256'
lowercase_count = sum(1 for char in word if char.islower())
print(lowercase_count) #output: 4

4

In [60]:
#(b)
word = 'PanaJi@12256'
uppercase_count = sum(1 for char in word if char.isupper())
print(uppercase_count) #output: 2

2

In [61]:
#(c)
word = 'PanaJi@12256'
digit_count = sum(1 for char in word if char.isdigit())
print(digit_count) #output: 5

5

In [ ]:
Q5.Wr1te a code to store a numerical value inside a variable then convert it into string.

In [ ]:
#Ans

# Storing a numerical value in a variable
num = 22

In [62]:
print(num)  #output: 22

22

In [63]:
num_str = str(num)
print(num_str) #output: 22

22

In [64]:
print(type(num))     #output: <class 'int'>

<class 'int'>

In [65]:
print(type(num_str))  #output: <class 'str'>

<class 'str'>